<div class="container-fluid">

	<div class="row">
		<div class="col-3">
			<div class="list-group" *ngIf="functions.length > 0">
				<div class="list-group-item fakeLink" *ngFor="let fn of functions"
					[ngClass]="{'selected': selectedFunction?._id == fn._id}" (click)="selectFunction(fn)">
					<span>{{fn._id}}</span>
				</div>
			</div>
		</div>

		<div class="col-9">
			<div class="card">
				<div class="card-header">
					<span class="fs-5" *ngIf="selectedFunction">{{selectedFunction._id}}</span>
					<span class="fs-5" *ngIf="!selectedFunction">Add function</span>
					<button class="btn btn-outline-danger btn-sm float-end"
						(click)="showDeleteConfirmation = true;">Remove</button>
				</div>
				<div class="d-flex bg-warning justify-content-end p-2 gap-2 shadow" *ngIf="showDeleteConfirmation">
					<span class="fs-5">Are you sure?</span>
					<button class="btn btn-dark buttonwidth btn-sm" (click)="showDeleteConfirmation = false;">No</button>
					<button class="btn btn-danger buttonwidth btn-sm" (click)="deleteFunction()">Yes</button>
				</div>
				<div class="card-body">
					<div class="mb-2" *ngIf="!selectedFunction">
						<label class="form-label">Name</label>
						<input type="text" class="form-control" [(ngModel)]="fnCreate._id">
					</div>
					<div class="mb-2">
						<label class="form-label">Code</label>
						<textarea class="form-control" rows="10" [(ngModel)]="fnCreate.data"></textarea>
					</div>
				</div>
				<div class="card-footer">
					<button class="btn btn-success float-end buttonwidth" *ngIf="!selectedFunction"
						(click)="addFunction()">Save</button>
					<button class="btn btn-primary float-end buttonwidth" *ngIf="selectedFunction"
						(click)="updateFunction()">Update</button>
				</div>
			</div>
		</div>

	</div>


</div>