body {
  font-family: 'Lato', sans-serif;
  // font-size: 0.8rem;
}

.shadow {
  box-shadow: 0px 0px 4px rgba(#000, 0.16);
}

.buttonwidth {
  width: 6rem;
}

.buttondoublewidth {
  width: 12rem;
}

.deleteItem {
  cursor: pointer;

  :hover {
    color: red;
  }
}

.height {
  height: 60vh;
}

.fakeLink {
  cursor: pointer;
}

.maxWidthWithScroll {
  overflow-x: scroll;
}

.selected {
  background-color: rgba(#0d6efd, 0.25);
}

.resultHover {
  margin-bottom: 1px;

  &:hover {
    background-color: rgba(#0d6efd, 0.50);
    color: #000;
  }
}

.resultLeft {
  width: 10rem;
}


.code {
  background-color: rgba(gray, 0.16);
  padding: 1rem;
  font-size: 0.8rem;
  line-height: 1.5rem;
}
