<div class="container-fluid">

	<div class="row">
		<div class="col-12 mb-2">
			<h2 class="mb-3">
				<i class="bi bi-check2-circle fs-4"></i>
				<span> Tests</span>
				<button class="btn btn-primary buttondoublewidth float-end" (click)="showForm()"> Add test</button>
			</h2>
			<hr>
		</div>
	</div>

	<div class="row">

		<div class="col text-center text-muted mt-5" *ngIf="tests?.length < 1">
			<span>No tests defined</span>
		</div>

		<div class="col-2" *ngIf="tests?.length > 0">
			<div class="list-group">
				<div class="list-group-item fakeLink" *ngFor="let test of tests"
					[ngClass]="{'selected': selectedTestID == test._id}" (click)="selectTest(test._id)">
					<span>{{test.name}}</span>
				</div>
			</div>
		</div>

		<div class="col-10">
			<div class="card">
				<!-- HEADER -->
				<div class="card-header">
					<span class="fs-5" *ngIf="selectedTestID">{{createForm.name}}</span>
					<span class="fs-5" *ngIf="!selectedTestID">Add function</span>
					<button class="btn btn-success btn-sm float-end buttonwidth" *ngIf="showEditCreateModal" (click)="saveTest()"
						[disabled]="validateForm()">Save</button>
					<button class="btn btn-primary btn-sm buttonwidth float-end mx-4" *ngIf="!showEditCreateModal">Run</button>
					<button class="btn btn-sm buttonwidth float-end mx-2" (click)="showEditCreateModal = !showEditCreateModal"
						[ngClass]="{'btn-outline-warning':!showEditCreateModal, 'btn-outline-dark':showEditCreateModal}"
						*ngIf="!showEditCreateModal"> Edit
						<span *ngIf="showEditCreateModal">Cancel</span>
					</button>
					<button class="btn btn-sm buttonwidth float-end mx-2" (click)="selectTest(selectedTestID)"
						[ngClass]="{'btn-warning':!showEditCreateModal, 'btn-dark':showEditCreateModal}"
						*ngIf="showEditCreateModal">
						Cancel
					</button>
					<button class="btn btn-outline-danger btn-sm float-end buttonwidth" *ngIf="!showEditCreateModal"
						(click)="showDeleteConfirmation = true;">Remove</button>
				</div>
				<div class="d-flex bg-warning justify-content-end p-2 gap-2 shadow" *ngIf="showDeleteConfirmation">
					<span class="fs-5">Are you sure?</span>
					<button class="btn btn-dark buttonwidth btn-sm" (click)="showDeleteConfirmation = false;">No</button>
					<button class="btn btn-danger buttonwidth btn-sm" (click)="deleteTest()">Yes</button>
				</div>

				<!-- BODY -->
				<div class="card-body">
					<div class="row">
						<div class="col-6">
							<div class="row mb-2">
								<div class="col-md-3">
									<span>Name</span>
								</div>
								<div class="col">
									<input type="text" class="form-control form-control-sm" [(ngModel)]="createForm.name"
										*ngIf="showEditCreateModal" [ngClass]="{'is-invalid': !createForm.name}">
									<span class="ms-1" *ngIf="!showEditCreateModal"><strong>{{createForm.name}}</strong></span>
								</div>
							</div>
						</div>
						<div class="col p-3 text-end">
							<span *ngIf="errors.validation" class="text-danger">{{errors.validation}}</span>
						</div>
					</div>

					<div class="bg-light border my-2 px-3">
						<span class="fs-5">Steps</span>
						<span class="fs-6 float-end mt-1">No. of steps: <strong>{{createForm.tests.length}}</strong></span>
						<span class="text-danger float-end p-2 mx-2 smallFont"
							*ngIf="stepErrors[selectedStepIndex]">{{stepErrors[selectedStepIndex]}}</span>
					</div>

					<div class=" d-flex flex-row gap-1">

						<div class="d-flex flex-column">
							<button class="btn btn-dark btn-sm mb-1" *ngIf="showEditCreateModal" (click)="addStep()">Add step</button>

							<ul class="list-group" style="width: 13rem;">
								<li class="list-group-item fakeLink p-1 fs-6" *ngFor="let step of createForm.tests; let i = index"
									(click)="selectStep(i)" [ngClass]="{'selected': i === selectedStepIndex}">
									<span class='smallFont'>{{step.name}}</span>
									<span class="fakeLink float-end" *ngIf="showEditCreateModal" (click)="removeStep(i)"><i
											class="bi bi-dash-circle"></i></span>
									<span class="float-end text-danger" *ngIf="stepErrors[i]"> <i class="bi bi-exclamation"></i> </span>
								</li>
							</ul>
						</div>

						<div class="d-flex flex-column flex-fill border p-2 gap-1">
							<div class="d-flex flex-row">
								<span style="width: 10rem;">Name</span>
								<span *ngIf="!showEditCreateModal">{{createForm.tests[selectedStepIndex]?.name}}</span>
								<input *ngIf="showEditCreateModal" type="text" class="form-control form-control-sm"
									[(ngModel)]="createForm.tests[selectedStepIndex].name"
									[ngClass]="{'is-invalid': !createForm.tests[selectedStepIndex].name}" style="width: 20rem;">
							</div>
							<div class="d-flex flex-column mt-3">
								<span style="width: 10rem;"><strong>Request</strong></span>
								<div class="d-flex flex-column border-top">
									<div class="d-flex flex-row mt-2">
										<span style="width: 10rem;">Method</span>
										<span *ngIf="!showEditCreateModal">
											<span class="badge bg-dark"
												*ngIf="createForm.tests[selectedStepIndex]?.request.method == 'POST'">{{createForm.tests[selectedStepIndex]?.request.method}}</span>
											<span class="badge bg-success"
												*ngIf="createForm.tests[selectedStepIndex]?.request.method == 'GET'">{{createForm.tests[selectedStepIndex]?.request.method}}</span>
											<span class="badge bg-primary"
												*ngIf="createForm.tests[selectedStepIndex]?.request.method == 'PUT'">{{createForm.tests[selectedStepIndex]?.request.method}}</span>
											<span class="badge bg-danger"
												*ngIf="createForm.tests[selectedStepIndex]?.request.method == 'DELETE'">{{createForm.tests[selectedStepIndex]?.request.method}}</span>
										</span>
										<select *ngIf="showEditCreateModal" class="form-select form-select-sm" style="width: 5rem;"
											[(ngModel)]="createForm.tests[selectedStepIndex].request.method">
											<option [ngValue]="'POST'">POST</option>
											<option [ngValue]="'GET'">GET</option>
											<option [ngValue]="'PUT'">PUT</option>
											<option [ngValue]="'DELETE'">DELETE</option>
										</select>
									</div>
									<div class="d-flex flex-row mt-2">
										<span style="width: 10rem;">URI</span>
										<span *ngIf="!showEditCreateModal">{{createForm.tests[selectedStepIndex]?.request.uri}}</span>
										<input *ngIf="showEditCreateModal" type="text" class="form-control form-control-sm"
											[(ngModel)]="createForm.tests[selectedStepIndex].request.uri"
											[ngClass]="{'is-invalid': !createForm.tests[selectedStepIndex].request.uri}"
											style="width: 20rem;">
										<button *ngIf="showEditCreateModal"
											class="btn btn-sm btn-outline-secondary ms-4 buttonwidth">GO</button>
									</div>
									<div class=" d-flex flex-row mt-2">
										<span style="width: 10rem;">Expected Status</span>
										<span [ngClass]="getStatusCodeClass(createForm.tests[selectedStepIndex]?.request.responseCode)"
											*ngIf="!showEditCreateModal">{{getVerboseStatusCode(createForm.tests[selectedStepIndex]?.request.responseCode)}}</span>
										<select *ngIf="showEditCreateModal" class="form-select form-select-sm" style="width: 20rem;"
											[(ngModel)]="createForm.tests[selectedStepIndex].request.responseCode">
											<option [ngValue]="statusCode[0]" *ngFor="let statusCode of httpStatusCodes">{{statusCode[1]}}
											</option>
										</select>
									</div>
									<ul class="nav nav-tabs mt-3">
										<li class="nav-item">
											<span class="nav-link fakeLink" (click)="requestTab = 1"
												[ngClass]="{'active': requestTab == 1}">Header</span>
										</li>
										<li class=" nav-item">
											<span class="nav-link fakeLink" (click)="requestTab = 2"
												[ngClass]="{'active': requestTab == 2}">Body</span>
										</li>
									</ul>
									<div class="d-flex flex-row mt-2" *ngIf="requestTab == 1">
										<span *ngIf="!showEditCreateModal"
											class="code w-100">{{createForm.tests[selectedStepIndex]?.request.headers
											|| "Nil"}}</span>
										<textarea *ngIf="showEditCreateModal" type="text" class="form-control form-control-sm"
											[(ngModel)]="createForm.tests[selectedStepIndex].request.headers" rows="8"></textarea>
									</div>
									<div class="d-flex flex-row mt-2" *ngIf="requestTab == 2">
										<span *ngIf="!showEditCreateModal"
											class="code w-100">{{createForm.tests[selectedStepIndex]?.request.body
											||
											"Nil"}}</span>
										<textarea *ngIf="showEditCreateModal" type="text" class="form-control form-control-sm"
											[(ngModel)]="createForm.tests[selectedStepIndex].request.body" rows="8"></textarea>
									</div>
								</div>
							</div>
							<div class="d-flex flex-column mt-3">
								<span style="width: 10rem;"><strong>Response</strong></span>
								<ul class="nav nav-tabs mt-2">
									<li class="nav-item">
										<span class="nav-link fakeLink" (click)="responseTab = 1"
											[ngClass]="{'active': responseTab == 1}">Header</span>
									</li>
									<li class=" nav-item">
										<span class="nav-link fakeLink" (click)="responseTab = 2"
											[ngClass]="{'active': responseTab == 2}">Body</span>
									</li>
								</ul>
								<div class="d-flex flex-column">
									<div class="d-flex flex-row mt-2" *ngIf="responseTab == 1">
										<span *ngIf="!showEditCreateModal"
											class="code w-100">{{createForm.tests[selectedStepIndex]?.response?.headers
											|| "Nil"}}</span>
										<textarea *ngIf="showEditCreateModal" type="text" class="form-control form-control-sm"
											[(ngModel)]="createForm.tests[selectedStepIndex].response.headers" rows="8"></textarea>
									</div>
									<div class="d-flex flex-row mt-2" *ngIf="responseTab == 2">
										<span *ngIf="!showEditCreateModal"
											class="code w-100">{{createForm.tests[selectedStepIndex]?.response?.body
											|| "Nil"}}</span>
										<textarea *ngIf="showEditCreateModal" type="text" class="form-control form-control-sm"
											[(ngModel)]="createForm.tests[selectedStepIndex].response.body" rows="8"></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>


</div>