<div class="container-fluid">

	<div class="row">
		<div class="col-12 mb-2">
			<h2 class="mb-3">
				<i class="bi bi-check2-circle fs-4"></i>
				<span> Tests</span>
				<button class="btn btn-primary buttondoublewidth float-end" (click)="showForm()"> Add test</button>
			</h2>
			<hr>
		</div>
	</div>

	<div class="row">

		<div class="col text-center text-muted mt-5" *ngIf="tests?.length < 1">
			<span>No tests defined</span>
		</div>

		<div class="col-2" *ngIf="tests?.length > 0">
			<div class="list-group">
				<div class="list-group-item fakeLink" *ngFor="let test of tests"
					[ngClass]="{'selected': selectedTestID == test._id}" (click)="selectTest(test._id)">
					<span>{{test.name}}</span>
				</div>
			</div>
		</div>

		<div class="col-10 border p-2 test">
			<div class="input-group">
				<input type="text" class="form-control w-75" [(ngModel)]="createForm.name"
					[ngClass]="{'is-invalid': !createForm.name}">
				<button class="btn btn-outline-primary btn-sm" (click)="runTest()" [disabled]="validateForm()"><i
						class="bi bi-lightning-fill"></i>
					Run</button>
				<button class="btn btn-outline-dark btn-sm" (click)="showDeleteConfirmation = true;"><i
						class="bi bi-trash-fill"></i>
					Delete </button>
				<button class="btn btn-success btn-sm" (click)="saveTest()" [disabled]="validateForm()"><i
						class="bi bi-save2-fill"></i>
					Save</button>
			</div>

			<div class="d-flex bg-warning justify-content-end p-2 gap-2 shadow rounded-bottom" *ngIf="showDeleteConfirmation">
				<span class="p-2">Are you sure?</span>
				<button class="btn btn-dark btn-sm buttonwidth" (click)="showDeleteConfirmation = false;">No</button>
				<button class="btn btn-danger btn-sm buttonwidth" (click)="deleteTest()">Yes</button>
			</div>

			<div class="d-flex flex-row my-2">
				<span style="width: 10rem;">Endpoints</span>
				<div class="d-flex flex-column">
					<div class="input-group input-group-sm mb-1" style="width: 50rem;">
						<input type="text" class="form-control" [(ngModel)]="url">
						<button class="btn btn-dark" (click)="createForm.urls.push(url); url = null"
							*ngIf="selectedUrlIndex == null">Add</button>
						<button class="btn btn-success" (click)="saveUrl()" *ngIf="selectedUrlIndex != null">Save</button>
					</div>
					<div class="border mb-1" *ngFor="let urlList of createForm.urls; let urlIndex = index">
						<span style="width: 50rem;" class="px-2">{{urlList}}</span>
						<i (click)="createForm.urls.splice(urlIndex, 1)"
							class="bi bi-trash-fill float-end px-1 mx-1 text-secondary fakeLink"
							*ngIf="this.createForm.urls.length > 1"></i>
						<i (click)="selectedUrlIndex=urlIndex; url=urlList;"
							class="bi bi-pencil float-end px-1 mx-1 text-secondary fakeLink"></i>
					</div>
				</div>
			</div>

			<small class="d-flex flex-row my-2 text-center text-danger">{{errors.validation}}</small>

			<div class=" d-flex flex-row gap-1 mt-2">
				<!-- left sidebad -->
				<div class="d-flex flex-column">
					<ul class="list-group" style="width: 15rem;">
						<li class="list-group-item fakeLink p-1 fs-6" *ngFor="let step of createForm.tests; let i = index"
							(click)="selectStep(i)" [ngClass]="{'selected': i === selectedStepIndex}">
							<span class='smallFont me-2'>{{i + 1}}</span>
							<span class='smallFont'>{{step.name}}</span>
							<span *ngIf="createForm.tests.length > 1">
								<span class="fakeLink float-end" (click)="removeStep(i)"><i class="bi bi-dash-circle"></i></span>
								<i class="bi bi-arrow-down-square fakeLink float-end me-1" (click)=" reorder(1, i)"
									[ngClass]="{'text-muted': i == createForm.tests.length - 1}"></i>
								<i class="bi bi-arrow-up-square fakeLink float-end mx-1" (click)="reorder(-1, i)"
									[ngClass]="{'text-muted': i == 0}"></i>
								<span class="float-end text-danger" *ngIf="stepErrors[i]"> <i class="bi bi-exclamation"></i> </span>
							</span>
						</li>
					</ul>
					<button class="btn btn-light btn-sm mt-1 noHighlight" (click)="addStep()"><i class="bi bi-plus-circle"></i>
						Add step</button>
				</div>

				<div class="d-flex flex-column flex-fill border p-2 gap-1" *ngIf="createForm.tests.length < 1">
					<i class="text-center">No steps. Add a step to continue</i>
				</div>

				<div class="d-flex flex-column flex-fill border p-2 gap-1" *ngIf="createForm.tests.length > 0">
					<div class="d-flex flex-row">
						<input type="text" class="form-control form-control-sm" [(ngModel)]="
							createForm.tests[selectedStepIndex].name" [ngClass]="{'is-invalid': !createForm.tests[selectedStepIndex].name}">
					</div>

					<small class="d-flex flex-row text-danger" *ngIf="stepErrors[selectedStepIndex]">Error:
						{{stepErrors[selectedStepIndex]}}</small>

					<div class="d-flex flex-column mt-3">
						<span style="width: 10rem;" class="text-danger"><strong>Error</strong></span>
						<ul>
							<li></li>
						</ul>
					</div>

					<div class="d-flex flex-column mt-3">
						<div class="mb-2">
							<span style="width: 10rem;"><strong>Request</strong></span>
							<button *ngIf="showEditCreateModal"
								class="btn btn-sm btn-outline-secondary ms-4 buttonwidth float-end">GO</button>
						</div>
						<div class="d-flex flex-column border-top">
							<div class=" d-flex flex-row mt-2">
								<span style=" width: 10rem;">Endpoint</span>
								<select class="form-select form-select-sm" style="width: 20rem;"
									[(ngModel)]="createForm.tests[selectedStepIndex].url">
									<option [ngValue]="urlIndex" *ngFor="let urlIndex of createForm.urls">{{urlIndex}} </option>
								</select>
							</div>
							<div class="d-flex flex-row my-2">
								<span style="width: 10rem;">URI</span>
								<div class="input-group input-group-sm ms-4">
									<select class="form-select" [(ngModel)]="createForm.tests[selectedStepIndex].request.method">
										<option [ngValue]="'POST'">POST</option>
										<option [ngValue]="'GET'">GET</option>
										<option [ngValue]="'PUT'">PUT</option>
										<option [ngValue]="'DELETE'">DELETE</option>
									</select>
									<input type="text" class="form-control" [(ngModel)]="createForm.tests[selectedStepIndex].request.uri"
										[ngClass]="{'is-invalid': !createForm.tests[selectedStepIndex].request.uri}" style="width: 65%;">
									<button class="btn btn-outline-dark btn-sm" (click)="runStep(selectedStepIndex)"><i
											class="bi bi-play-fill"></i> Request</button>
								</div>
							</div>
							<ul class="nav nav-tabs">
								<li class="nav-item">
									<span class="nav-link fakeLink" (click)="requestTab = 1"
										[ngClass]="{'active': requestTab == 1}">Header</span>
								</li>
								<li class=" nav-item">
									<span class="nav-link fakeLink" (click)="requestTab = 2"
										[ngClass]="{'active': requestTab == 2}">Body</span>
								</li>
							</ul>
							<div class="d-flex flex-row" *ngIf="requestTab == 1">
								<textarea type="text" class="form-control form-control-sm border-top-0"
									[(ngModel)]="createForm.tests[selectedStepIndex].request.headers" rows="8"></textarea>
							</div>
							<div class="d-flex flex-row" *ngIf="requestTab == 2">
								<textarea type="text" class="form-control form-control-sm border-top-0"
									[(ngModel)]="createForm.tests[selectedStepIndex].request.data" rows="8"></textarea>
							</div>
						</div>
					</div>
					<div class="d-flex flex-column mt-3">
						<span style="width: 10rem;"><strong>Response</strong></span>
						<div class=" d-flex flex-row mt-2 pt-2 border-top">
							<span style=" width: 10rem;">Expected Status</span>
							<select class="form-select form-select-sm" style="width: 20rem;"
								[(ngModel)]="createForm.tests[selectedStepIndex].request.responseCode">
								<option [ngValue]="statusCode[0]" *ngFor="let statusCode of httpStatusCodes">{{statusCode[1]}}
								</option>
							</select>
						</div>
						<ul class="nav nav-tabs">
							<li class="nav-item">
								<span class="nav-link fakeLink" (click)="responseTab = 1"
									[ngClass]="{'active': responseTab == 1}">Header</span>
							</li>
							<li class=" nav-item">
								<span class="nav-link fakeLink" (click)="responseTab = 2"
									[ngClass]="{'active': responseTab == 2}">Body</span>
							</li>
						</ul>
						<div class="d-flex flex-column">
							<div class="d-flex flex-row" *ngIf="responseTab == 1">
								<textarea type="text" class="form-control form-control-sm border-top-0"
									[(ngModel)]="createForm.tests[selectedStepIndex].response.headers" rows="8"></textarea>
							</div>
							<div class="d-flex flex-row" *ngIf="responseTab == 2">
								<textarea type="text" class="form-control form-control-sm border-top-0"
									[(ngModel)]="createForm.tests[selectedStepIndex].response.data" rows="8"></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>


</div>