<div class="container-fluid">
	<div class="row">
		<div class="col-12 mb-2">
			<h2 class="mb-3 text-secondary">
				<div *ngIf="!showCreateModal">
					<i class="bi bi-check2-circle fs-4"></i>
					<span> Tests</span>
					<button class="btn btn-success float-end" (click)="startCreate()">Create new test
						suite</button>
				</div>
				<div *ngIf="showCreateModal">
					<i class="bi bi-collection fs-5"></i>
					<span> Create test suite</span>
					<button class="btn btn-success float-end buttonwidth" (click)="createNewTestSuite()"
						[disabled]="formTestSuite.invalid || mapping.length == 0">Create</button>
					<button class="btn btn-outline-secondary mx-3 float-end buttonwidth"
						(click)="showCreateModal = !showCreateModal">Cancel</button>
				</div>
			</h2>
			<hr>
		</div>

		<ng-container *ngIf="!showCreateModal">
			<div class="col-12 d-flex flex-column align-items-center gap-2" *ngIf="testsuites.length < 1">
				<p class="text-primary p-5 m-5">No test suites defined!</p>
			</div>
			<!-- LIST -->
			<div class="col-12 d-flex flex-row gap-2" *ngIf="testsuites.length > 0">
				<div class="col-2">
					<div class="list-group" *ngIf="testsuites?.length > 0">
						<button type="button" class="list-group-item list-group-item-action"
							[ngClass]="{'active': selectedTestsuite._id == ts._id}" (click)="menuClick(ts)"
							*ngFor="let ts of testsuites">{{ts._id}}</button>
					</div>
				</div>

				<div class="col-10">
					<nav class="navbar navbar-expand-lg bg-dark text-light border">
						<div class="container-fluid">
							<span class="fs-4 fw-bold">{{selectedTestsuite?._id}}</span>
							<div class="d-flex">
								<small class="text-danger mx-2" *ngIf="errors.remove">Error removing testEnvironment!</small>
								<button class="btn btn-sm btn-danger buttonwidth mx-2" (click)="deleteConfirmation = true">
									Delete </button>
							</div>
						</div>
					</nav>
					<nav class="d-flex justify-content-end p-2 mb-2 bg-warning shadow" *ngIf="deleteConfirmation">
						<span class="text-dark fs-5">Are you sure?</span>
						<button class="btn btn-sm btn-dark buttonwidth mx-2" (click)="deleteConfirmation = false">Cancel</button>
						<button class="btn btn-sm btn-danger buttonwidth mx-2" (click)="deleteTestSuite()">
							<span class="spinner-grow spinner-grow-sm text-dark" role="status" aria-hidden="true"
								*ngIf="spinners.remove"></span> YES</button>
					</nav>

					<div class="d-flex flex-column mt-2 gap-3">
						<ul class="nav nav-tabs">
							<li class="nav-item">
								<a class="nav-link fakeLink" [ngClass]="{active: selectedTab === 'Config'}"
									(click)="selectedTab = 'Config'">Config</a>
							</li>
							<li class="nav-item">
								<a class="nav-link fakeLink" [ngClass]="{active: selectedTab === 'Users'}"
									(click)="selectedTab = 'Users'">Users</a>
							</li>
							<li class="nav-item">
								<a class="nav-link fakeLink" [ngClass]="{active: selectedTab === 'DatasetMapping'}"
									(click)="selectedTab = 'DatasetMapping'">Dataset mapping</a>
							</li>
							<li class="nav-item">
								<a class="nav-link fakeLink" [ngClass]="{active: selectedTab === 'Testcases'}"
									(click)="selectedTab = 'Testcases'">Testcases</a>
							</li>
						</ul>
						<!-- CONFIG -->
						<div class="col-12" *ngIf="selectedTab === 'Config'">
							<div class="card-body">
								<div class="mb-2">
									<strong>Environment:</strong>
									<span class="mx-2">{{selectedTestsuite?.environment}}</span>
								</div>
								<div class="mb-2">
									<strong>App:</strong>
									<span class="badge bg-primary fw-normal text-light mx-2">{{selectedTestsuite?.app}}</span>
								</div>
								<div class="mb-2">
									<strong>Dataservice:</strong>
									<span class="mx-2">{{selectedTestsuite?.dataserviceName}}
										<small>({{selectedTestsuite?.dataservice}})</small></span>
								</div>
								<div class="mb-2">
									<strong>API:</strong>
									<span class="badge bg-warning fw-normal text-dark mx-2">{{selectedTestsuite?.api}}</span>
								</div>
							</div>
						</div>

						<!-- USERS -->
						<div class="col-12" *ngIf="selectedTab === 'Users'">
							<div class="card-body">
								<table class="table table-hover table-sm" *ngIf="selectedTestsuite?.users">
									<thead>
										<tr>
											<th scope="col">#</th>
											<th scope="col">Username</th>
											<th scope="col">Password</th>
											<th scope="col">Operation</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let row of selectedTestsuite?.users; let i = index">
											<td>{{i + 1}}</td>
											<td>{{row.username}}</td>
											<td>{{row.password}}</td>
											<td>{{row.operation}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

						<!-- MAPPING -->
						<div class="col-12" *ngIf="selectedTab === 'DatasetMapping'">
							<div class="card-body">
								<div class="mb-2">
									<strong>Test each attribute:</strong>
									<span class="mx-2 badge bg-success" *ngIf="selectedTestsuite?.testEachAttribute">YES</span>
									<span class="mx-2 badge bg-danger" *ngIf="!selectedTestsuite?.testEachAttribute">NO</span>
								</div>

								<strong class="mb-2">Datasets:</strong>

								<table class="table table-hover table-sm" *ngIf="selectedTestsuite?.testEachAttribute">
									<thead>
										<tr>
											<th scope="col">#</th>
											<th scope="col">Attribute</th>
											<th scope="col">Dataset</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let row of selectedTestsuite?.testParams; let i = index">
											<td>{{i + 1}}</td>
											<td>{{row[0]}}</td>
											<td>{{row[1]}}</td>
										</tr>
									</tbody>
								</table>
								<div *ngIf="!selectedTestsuite?.testEachAttribute">
									<span class="badge bg-dark text-light mx-1"
										*ngFor="let tp of selectedTestsuite?.testParams">{{tp}}</span>
								</div>
							</div>
						</div>

						<!-- TESTCASES -->
						<div class="col-12" *ngIf="selectedTab === 'Testcases'">
							<div class="card-body" *ngIf="tests.length < 1">
								<span class="text-danger">No test cases generated.</span>
							</div>
							<div class="card-body" *ngIf="tests.length > 0">
								<dl class="row">
									<dt class="col-sm-1">Testset</dt>
									<dd class="col-sm-11 text-primary">{{tests[0].testSet}}</dd>
									<dt class="col-sm-1">Testcases</dt>
									<dd class="col-sm-11"><em>{{testProperties.count}}</em></dd>
								</dl>
								<button class="btn btn-warning btn-sm" (click)="regenerateTests()">Regerate tests</button>

								<div class="d-flex flex-column">
									<div class="d-flex flex-row justify-content-end mb-2">
										<div class="btn-group btn-group-sm">
											<button type="button" class="btn btn-outline-secondary" (click)="testsPrev()">Prev</button>
											<button type="button" class="btn btn-outline-secondary" disabled>Page
												{{testProperties.page}}/{{testProperties.count/10}}</button>
											<button type="button" class="btn btn-outline-secondary" (click)="testsNext()">Next</button>
										</div>
									</div>
									<div class="d-flex flex-row border border-dark p-1">
										<small style="width: 30%;" class="fw-bold">ID</small>
										<small style="width: 10%;" class="fw-bold">Method</small>
										<small style="width: 60%;" class="fw-bold">Data</small>
									</div>
									<div class="d-flex flex-row mb-1 border secondaryborder-top-0 p-1" *ngFor="let test of tests">
										<small style="width: 30%;">{{test._id}}</small>
										<small style="width: 10%;">
											<span *ngIf="test.responseCode == 200" class="badge bg-success">{{test.responseCode}}</span>
											<span *ngIf="test.responseCode == 404" class="badge bg-danger">{{test.responseCode}}</span>
											{{test.method}}</small>
										<small style="width: 60%; overflow-wrap: break-word;">{{stringifiedData(test.data)}}</small>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</ng-container>

		<!-- CREATE -->
		<ng-container *ngIf="showCreateModal">
			<div class="d-flex flex-column">
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a class="nav-link fakeLink" [ngClass]="{active: selectedTab === 'Config'}"
							(click)="selectedTab = 'Config'">Config</a>
					</li>
					<li class="nav-item">
						<a class="nav-link fakeLink" [ngClass]="{active: selectedTab === 'Users'}"
							(click)="selectedTab = 'Users'">Users</a>
					</li>
					<li class="nav-item">
						<a class="nav-link fakeLink" [ngClass]="{active: selectedTab === 'DatasetMapping'}"
							(click)="selectedTab = 'DatasetMapping'">Dataset mapping</a>
					</li>
				</ul>

				<!-- CONFIG -->
				<div class="col-6" *ngIf="selectedTab === 'Config'">
					<div class="card-body">
						<form [formGroup]="formTestSuite">
							<div class="mb-3">
								<label for="testSuiteName">Test suite name</label>
								<input type="text" class="form-control" id="testSuiteName" formControlName="_id">
							</div>
							<div class="mb-3">
								<label for="testSuiteEnvironment">Environment</label>
								<select class="form-select" aria-label="Default select example" formControlName="environment"
									(change)="updateDataServiceList($event)">
									<option [value]="env._id" *ngFor="let env of environments">{{env._id}}</option>
								</select>
							</div>
							<div class="mb-3">
								<strong>APP: </strong>
								<span class="badge bg-primary fw-normal text-light">{{formTestSuite.get('app').value || 'N/A'}}</span>
							</div>
							<div class="mb-3">
								<label for="testSuiteDataService">Dataservice</label>
								<select class="form-select" aria-label="Default select example" formControlName="dataservice"
									(change)="updateAPI($event)">
									<option [value]="dataservice._id" *ngFor="let dataservice of dataservices">{{dataservice.name}}
									</option>
								</select>
							</div>
							<div class="mb-3">
								<strong>API: </strong>
								<span class="badge bg-warning fw-normal text-dark">{{formTestSuite.get('api').value || 'N/A'}}</span>
							</div>
							<div class="form-check form-switch mb-3">
								<input class="form-check-input" type="checkbox" id="testSuiteType" checked
									formControlName="testEachAttribute" (change)="datasetChanges()">
								<label class="form-check-label" for="testSuiteType">Test each attribute</label>
							</div>
						</form>
					</div>
				</div>

				<!-- USERS -->
				<div class="col-8" *ngIf="selectedTab === 'Users'">
					<div class="card-body">
						<table class="table table-hover table-sm">
							<thead>
								<tr>
									<th scope=" col">#</th>
									<th scope="col">
										<input type="text" class="form-control form-control-sm" placeholder="Username" id="username"
											[(ngModel)]="user.username">
									</th>
									<th scope="col">
										<input type="text" class="form-control form-control-sm" placeholder="Password" id="password"
											[(ngModel)]="user.password">
									</th>
									<th scope="col">
										<select class="form-select form-select-sm" [(ngModel)]="user.operation">
											<option [value]="oper" *ngFor="let oper of updatedOperations">{{oper}}</option>
										</select>
									</th>
									<th scope="col">
										<div class="d-grid">
											<button class="btn btn-dark btn-sm" (click)="addUser()" [disabled]="disableAddUser()">Add</button>
										</div>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let row of formTestSuite.get('users').value; let i = index">
									<td><small>{{i + 1}}</small></td>
									<td><small>{{row.username}}</small></td>
									<td><small>{{row.password}}</small></td>
									<td><small>{{row.operation}}</small></td>
									<td><button class="btn btn-outline-danger btn-sm" (click)="clearUser(i)">
											<small>Clear</small></button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<!-- MAPPING -->
				<div class="col-8" *ngIf="selectedTab === 'DatasetMapping'">
					<div class="card-body" *ngIf="!formTestSuite.get('testEachAttribute').value">
						<span class="text-secondary">Select a dataservice to add mappings</span>
					</div>
					<div class="card-body" *ngIf="formTestSuite.get('testEachAttribute').value">
						<div class="mb-2">
							<button class="btn btn-warning btn-sm float-end" (click)="clearAllMappings()"
								*ngIf="mapping.length > 5">Clear</button>
						</div>
						<table class="table table-hover table-sm">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">
										<select class="form-select form-select-sm" [(ngModel)]="attribute">
											<option [value]="attr[0]" *ngFor="let attr of attributes">{{attr[0]}} ({{attr[1]}})</option>
										</select>
									</th>
									<th scope="col">
										<select class="form-select form-select-sm" [(ngModel)]="dataset">
											<option [value]="ds" *ngFor="let ds of datasets">{{ds}}</option>
										</select>
									</th>
									<th scope="col">
										<div class="d-grid">
											<button class="btn btn-dark btn-sm" (click)="addToDatasetMapping()"
												[disabled]="!attribute || !dataset">Add</button>
										</div>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let row of formTestSuite.get('testParams').value; let i = index">
									<td><small>{{i + 1}}</small></td>
									<td><small>{{row[0]}}</small></td>
									<td><small>{{row[1]}}</small></td>
									<td><button class="btn btn-outline-danger btn-sm"
											(click)="clearItemFromMapping(i)"><small>Clear</small></button>
									</td>
								</tr>
							</tbody>
						</table>

						<div class="p-2" *ngIf="!formTestSuite.get('testEachAttribute').value">
							<button type="button" class="btn btn-sm m-1"
								[ngClass]="{'btn-outline-dark':!datasetHasBeenSelected(ds), 'btn-dark':datasetHasBeenSelected(ds)}"
								(click)="datasetSelect(ds)" *ngFor="let ds of datasets"> {{ds}} </button>
						</div>
					</div>
				</div>
			</div>
		</ng-container>
	</div>
</div>